{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


        <title>PIRIPATITAS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/hero-slider.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/owl-carousel.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/templatemo-style.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/lightbox.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/ig.css' %}">

        <script src="{% static 'website/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>


    </style>
<body>
    {% include 'base.html' %} <!-- Incluir el contenido de base.html -->
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top logo"><em>PIRI</em>PATITAS</a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="scroll-top">INICIO</a></li>
                        <li><a href="#" class="scroll-link" data-id="about">¿Qué Necesita?</a></li>
                        <li><a href="#" class="scroll-link" data-id="portfolio">Galería</a></li>
                        <li><a href="#" class="scroll-link" data-id="blog">Servicios</a></li>
                        <li><a href="#" class="scroll-link" data-id="contact-us">Contáctanos</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <!--/.header-->
    </style>
    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="text-content">
                <h2><em>PIRI</em>PATITAS</h2>
                <p>Somos una organización sin fines de lucro dedicada especialmente al rescate de animales que se encuentran en situación de abandono o maltrato. Nuestra organización sin fines de lucro, llamada "Piri Patitas", está dedicada especialmente al rescate de animales que se encuentran en situación de abandono o maltrato. Nos dedicamos a proporcionar atención médica, alimento, refugio y amor a perros y gatos que han sido abandonados, maltratados o están en peligro de ser sacrificados.</p>
                <div class="primary-white-button">
                    <a href="#" class="scroll-link" data-id="about">¿Qué es lo que necesito?</a>
                </div>
            </div>
        </div>
    </div>


    <section id="about" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="{% static 'website/img/icon_01.png' %}" alt="">
                        </div>
                        <h4>SERVICIO DE RESCATE DE ANIMALES</h4>
                        <div class="line-dec"></div>
                        <p>Para la organización Piripatitas, el rescate de animales es una labor esencial que implica intervenir y brindar atención médica, alimentación, refugio y amor a los animales que se encuentran en situación de abandono, maltrato o peligro de ser sacrificados. La misión de Piripatitas es mejorar la calidad de vida de estos animales rescatados y, en algunos casos, buscarles un hogar permanente a través de la adopción responsable. El rescate de animales es una labor valiosa y necesaria para garantizar el bienestar animal y fomentar una sociedad más comprometida con la protección y cuidado de los animales callejeros.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continuar Leyendo</a>
                        </div>
                    </div>
                </div>
              
    
            </div>
        </div>
    </section>

<style>


</style>

   <section id="portfolio">
  <div class="content-wrapper">
    <div class="inner-container container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="section-heading">
            <h4>NUESTRA GALERÍA</h4>
            <div class="line-dec"></div>
            <p>En esta sección, te presentamos las mascotas rescatadas que están disponibles para adopción, así como el seguimiento que les ofrecemos..</p>
            <div class="filter-categories">
              <ul class="project-filter">
                <li class="filter" data-filter="all"><span>mostrar todo</span></li>
                <li class="filter" data-filter="branding"><span>Rescatados</span></li>
                <li class="filter" data-filter="adopcion"><span>dados en adopción</span></li>
                <li class="filter" data-filter="animation"><span>Seguimiento</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="projects-holder-3">
            <div class="projects-holder">
              <div class="row">
                <div class="col-md-6 col-sm-6 project-item mix animation">
                  <div class="thumb">
                    <div class="image">
                      <a href="{% static 'website/img/seguimiento1.jpg'%}" data-lightbox="image-1">
                        <img class="thumbnail-image" src="{% static 'website/img/seguimiento1.jpg'%}">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 project-item mix branding">
                  <div class="thumb">
                    <div class="image">
                      <a href="{% static 'website/img/rescatados1.jpg'%}" data-lightbox="image-1">
                        <img class="thumbnail-image" src="{% static 'website/img/rescatados1.jpg'%}">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 project-item mix adopcion">
                  <div class="thumb">
                    <div class="image">
                      <a href="{% static 'website/img/adopte.jpeg'%}" data-lightbox="image-1">
                        <img class="thumbnail-image" src="{% static 'website/img/adopte.jpeg' %}">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 project-item mix adopcion">
                  <div class="thumb">
                    <div class="image">
                      <a href="{% static 'website/img/adopte2.png'%}" data-lightbox="image-1">
                        <img class="thumbnail-image" src="{% static 'website/img/adopte2.png' %}">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 project-item mix branding">
                  <div class="thumb">
                    <div class="image">
                      <a href="{% static 'website/img/rescatados2.jpg'%}" data-lightbox="image-1">
                        <img class="thumbnail-image" src="{% static 'website/img/rescatados2.jpg'%}">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 project-item mix branding">
                  <div class="thumb">
                    <div class="image">
                      <a href="{% static 'website/img/rescatados3.png'%}" data-lightbox="image-1">
                        <img class="thumbnail-image" src="{% static 'website/img/rescatados3.png'%}">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 project-item mix graphic animation">
                  <div class="thumb">
                    <div class="image">
                      <a href="{% static 'website/img/seguimiento2.jpg' %}" data-lightbox="image-1">
                        <img class="thumbnail-image" src="{% static 'website/img/seguimiento2.jpg' %}">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



    <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ POR LOS QUE NO HABLAN ”</p>
                                <h4>DAISY GIRETT, IRIS DIONISI</h4>
                                <span>Marketing</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ CUIDANDO DE TUS MASCOTAS ”</p>
                                <h4>DAISY GIRETT, IRIS DIONISI</h4>
                                <span>DISEÑO</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ EN PIRI PATITAS ENCONTRAS LA AYUDA PARA AQUELLOS ANIMALITOS QUE MAS NECESITAN ”</p>
                                <h4>DAISY GIRETT, IRIS DIONISI</h4>
                                <span>INFORMÁTICA</span>
                            </div>
                        </div>
                       
                </div>
            </div>
        </div>
    </section>

    <div class="tabs-content" id="blog">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="col-md-4">
                        <div class="section-heading">
                            <h4>SERVICIOS DE VETERINARIAS ASOCIADAS</h4>
                            <div class="line-dec"></div>
                            <p>PIRIPATITAS CUENTA CON SERVICIOS ESPECÍFICOS.</p>
                            <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                                <li><a href="#tab1" class="active">Clínica Veterinaria Central</a></li>
                                <li><a href="#tab2">Agroveterinaria Piribebuy</a></li>
                                <li><a href="#tab3">Chavet Veterinaria Pet-Shop</a></li>
                                <li><a href="#tab4">Veterinaria "SAN ROQUE"</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <section id="first-tab-group" class="tabgroup">
                            <div id="tab1">
                                <img src="{% static 'website/img/veterinariacentral.jpg'%}" alt="">
                                <div class="text-content">
                                    <h4>Clínica Veterinaria Central</h4>
                                    <span><a href="#">DR.</a> / <a href="#">PIRIBEBUY</a> / <a href="#">Noviembre 2020</a></span>
                                    <p> Clínica Veterinaria Central proporciona servicios veterinarios integrales de la más alta calidad.
                                        Contáctanos con Urgencias (24 hrs.): 0971159627</p>
                                </div>
                            </div>
                            <div id="tab2">
                                <img src="{% static 'website/img/AgroveterinariaPiribebuy.jpg'%}" alt="">
                                <div class="text-content">
                                    <h4>Agroveterinaria Piribebuy</h4>
                                    <span><a href="#">DR</a> / <a href="#">PIRIBEBUY</a> / <a href="#">Noviembre 2020</a></span>
                                    <p>proporciona servicios veterinarios integrales de la más alta calidad.
                                        Contáctanos con Urgencias (24 hrs.): 00000000.</p>
                                </div>
                            </div>
                            <div id="tab3">
                                <img src="{% static 'website/img/ChavetVeterinariaPet-Shop.jpg' %}" alt="">
                                <div class="text-content">
                                    <h4>Chavet Veterinaria Pet-Shop</h4>
                                    <span><a href="#">DR</a> / <a href="#">PIRIBEBUY</a> / <a href="#">Noviembre 2020</a></span>
                                    <p>proporciona servicios veterinarios integrales de la más alta calidad.
                                        Contáctanos con Urgencias (24 hrs.): 0974822663</p>
                                </div>
                            </div>
                            <div id="tab4">
                                <img src="{% static 'website/img/VeterinariaSANROQUE.jpg'%}" alt="">
                                <div class="text-content">
                                    <h4>Veterinaria "SAN ROQUE"</h4>
                                    <span><a href="#">GIORLAME</a> / <a href="#">PIRIBEBUY</a> / <a href="#"> Noviembre 2020</a></span>
                                    <P>La Clínica proporciona servicios veterinarios integrales de la más alta calidad.
                                        Contáctanos con Urgencias (24 hrs.): 0971997630<P>

                                  
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>CONTÁCTANOS</h4>
                        <div class="line-dec"></div>
                        <p>PUEDE MANDARNOS UN CORREO ELECTRÓNICO DESDE AQUÍ.</p>
                        <div class="pop-button">

                            <h4><a href="whatsapp://send?phone=+595976264095">Enviar mensaje de WhatsApp</a>
</h4>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div id="map">
    	<!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
        -->
        

       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14408.403124550392!2d-57.045756178811914!3d-25.468310021165298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945c2f133e66e987%3A0x595a7c30a49ebc08!2sPiribebuy!5e0!3m2!1ses-419!2spy!4v1697216740687!5m2!1ses-419!2spy" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <a class="logo-ft scroll-top" href="#"><em>P</em>iripatitas</a>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="location">
                        <h4>Localización</h4>
                        <ul>
                            <li>8 de diciembre 1450 c/ Tte. Fariña , <br>Caacupé</li>
                            <li>Al costado de la plaza<br>Tte. Fariña</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="contact-info">
                        <h4>MAS INFORMACIÓN</h4>
                        <ul>
                            <li><em>Teléfono</em>: 0511 242623</li>
                            <li><em>Cel.</em>: 0971-980-190 / DAISY GIRETT (ACESOR TÉCNIC)</li>
                            <li><em>Cel.</em>: 0976-149-005 / IRIS DIONISI (ING. INFORMÁTICA)</li>
                           </li>
                            <li><em>Email</em>: piripatitasapp@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="connect-us">
                        <h4>PUEDES ENCONTRARNOS EN NUESTRAS REDES SOCIALES</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{% static 'website/js/vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'website/js/plugins.js' %}"></script>
    <script src="{% static 'website/js/main.js' %}"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        // navigation click actions 
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');         
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 50;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>



</body>


</html>